<div class="header">&nbsp</div>
<div class="jumbotron">
    <h2>Fire User Demo</h2>
    <h3>Welcome! </h3>
    <p><em>This is a demo of the FireUser user management library.</em></p>
</div>
    <em>
        <p>You have been directed to this page because you were not logged in. </p>
        <p>Login below with one of the third party login directives, or by registering a new email address.
        </p>        
    </em>
<div class="panel panel-default">
    <div class="panel-heading">
        Third party login directives
    </div>
    <div class="panel-body">
        <fulogin type='github' class='btn btn-default fa-2x'></fulogin>
        <fulogin type='facebook' style="background-color:#dfe3ee;color:#3b5998"class='btn btn-default fa-2x'></fulogin>
        <fulogin type='twitter' style="background-color:#FFF;color:#326ada" class='btn btn-default fa-2x'></fulogin>
    <br />
    <em>
        Login with a third party by clicking one of these icon directives.
    </em>
    <br />
    <small>Note: Using Adblock can make some of fontawsome's social media icons not to display.</small>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">New Email User signup directive</div>
    <div class="panel-body">
    <p>Signup for email login with this directive.</p>
    <fusignupform></fusignupform>        
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Email login directive
    </div>
    <div class="panel-body">
        <p>Login with email here.
        You can create an email login with this directive.
        </p>
        <fuloginform></fuloginform>        
    </div>
</div>    